{
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": [
        "standard"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "expect": true,
        "request": true,
        "setupApp": true,
        "supertest": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
    }
}
